<!DOCTYPE html>
<html>
    <head>
 	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<link rel="stylesheet" href="css/custom_css.css" />
	<title>
	    Education
	</title>
    </head>
    <body>
	<div class="div_text_presentation">
	    <nav class="navbar navbar-expand-sm bg-gray">
		<!-- Links -->
		<ul class="navbar-nav">
		    <li class="nav-item">
			<a class="nav-link" href="/">Home</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="/projects">Projects</a>
		    </li>
		    <li class="nav-item">
			<a class="nav-link" href="/education">Education</a>
		    </li>
		</ul>
	    </nav>
	</div>

	<div class="div_text_presentation">
	    <strong><p>Master Qualification Thesis</p></strong>
	    <hr class="hr_grad">
	    <p><font color="#9900CC">Title:</font>Prediction of Cement Compressive Strength</p>
	    <br/><p><font color="#9900CC">Advisor:</font>Dr. Marcelo Finger</p>
	    <br/><p><font color="#9900CC">Description:</font> This is a research project about developing prediction models to predict the 28-day compressive strength of cement.
		The main idea is to develop a new neural network architecture based on an adaptation of the Transformer model to time series. The objective is to achieve the state of the art
		of existing models by means of transfer learning technique from a big dataset built by collecting data from several cement factories around the world. This is my masters project
		and it is a work in an intermediary phase of development.</p>	    
	</div>

	<br/>
	<div class="div_text_presentation">
	    <hr class="hr_full">
	</div>
	<br/>

	<div class="div_text_presentation">
	    <strong><p>Graduate project</p></strong>
	    <hr>
	    <p><font color="#9900CC">Title:</font>Predicting SARS-Cov-2 Contagion with Neural Networks:</p>
	    <br/><p><font color="#9900CC">Advisor:</font>Dr. Marcelo Finger</p>
	    <br/><p><font color="#9900CC">Description:</font>The aim of this project was to develop neural models to predict in which stage of
		Covid19 contagion a patient is at. This project was develop as a final project in an Artificial Intelligence class that I took during the course of a graduate
		class.</p>
	</div>

	
	<br/>
	<div class="div_text_presentation">
	    <hr class="hr_full">
	</div>
	<br/>
	
	<div class="div_text_presentation">
	    <strong><p>Undergraduate Thesis</p></strong>
	    <hr class="hr_undergrad">
	    <p><font color="#9900CC">Title:</font> Flood Forecast of Itajaí-Açu River using Deep Neural Networks</p>
	    <br/><p><font color="#9900CC">Advisor:</font>MsC. Daniel Gomes Soares</p>
	    <br/><p><font color="#9900CC">Description:</font> Modelling of time series models based on deep neural networks to forecast floods in the Itajaí-Açu River. This project was developed as my undergraduate
		final project.</p>	    
	</div>
	<br/>
	
    </body>
</html>
